<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
    <title><%=stock.ticker%></title>
  </head>
  <body>
    <h2><%=stock.company%></h2>
    <h3>Ticker Symbol: <%=stock.ticker%></h3>
    <h3>Last Closing Price: $<%=stock.price%></h3>
    <p><%=stock.description%></p>
    <button type="button" name="back" onclick="location.href='/'">BACK TO HOME</button>
    <button type="button" name="edit-stock" onclick="location.href='/:id/edit'">EDIT SECURITY</button>
  </body>
</html>
