<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
    <title>Edit Stock</title>
  </head>
  <body>
    <h2 class="company">Edit Stock</h2>
    <button type="button" name="back" id="back-to-stocks-list-btn" class="btn btn-secondary" onclick="location.href='/<%=stock.id%>'">BACK TO STOCK</button>
    <form class="stock-form" action="/<%=stock.id%>?_method=PUT" method="POST">
        <label for="ticker" class="form-label">Ticker Symbol: </label>
        <input type="text" name="ticker" class="form-control" value="<%=stock.ticker%>"/>
        <label for="company" class="form-label">Company: </label>
        <input type="text" name="company" class="form-control" value="<%=stock.company%>"/>
        <label for="price" class="form-label">Last Closing Price: </label>
        <input type="text" name="price" class="form-control" value="<%=stock.price%>"/>
        <label for="ticker" class="form-label">Description: </label>
        <textarea name="description" class="form-control"><%=stock.description%></textarea>
      <input type="submit" id="edit-stock-submit" value="SUBMIT" class="btn btn-success"/>
    </form>
  </body>
</html>
