<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('./partials/head.ejs') %>
    <%- include ('./partials/header.ejs') %>
    <title>Edit Security</title>
  </head>
  <body>
    <h2>Edit <%=stock.company%></h2>
    <button type="button" name="back" onclick="location.href='/<%=stock.id%>'">BACK TO STOCK</button>
    <form class="form" action="/<%=stock.id%>?_method=PUT" method="POST">
      <div class="formfield">
        <label for="ticker">Ticker Symbol: </label>
        <input type="text" name="ticker" value="<%=stock.ticker%>"/>
      </div>
      <div class="formfield">
        <label for="company">Company: </label>
        <input type="text" name="company" value="<%=stock.company%>"/>
      </div>
      <div class="formfield">
        <label for="price">Last Closing Price: </label>
        <input type="text" name="price" value="<%=stock.price%>"/>
      </div>
      <div class="formfield">
        <label for="ticker">Description: </label>
        <textarea name="description"><%=stock.description%></textarea>
      </div>
      <input type="submit" value="SUBMIT" class=""/>
    </form>
  </body>
</html>
